* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf2ff !important;
}

.button__mobileonly {
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    background-color: white;
}

.taskimage {
    width: 100%;
    height: 169px;
    border-radius: 3%;
    object-position: center;
}

.showtaskimage {
    width: 100%;
    border-radius: 3%;
    object-position: center;
}

.profile_wrapper {
    width: 100%;
    border: 1ps solid #333;
}

.profile_details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 20px;
}

.name,
.designation,
.department,
.manager {
    width: 300px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    font-size: 18px;
}

.name,
.designation,
.department,
.manager {
    min-height: 40px;
}

.name p,
.designation p,
.department p,
.manager p {
    font-size: 18px;
    font-weight: 500px;
}

#user_name {
    font-size: 18px;
}

#status_group {
    display: none;
}

#updatetask {
    display: none;
}

#tasksheading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 2px;
    justify-content: space-between;
    align-items: start;
}

#statusToggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* width: 100%;
    height: 100%; */
}

#statusToggle span {
    font-size: 10px;
}




@media (max-width: 768px) {

    #tasksheading {
        display: flex;
        flex-direction: column-reverse;
        gap: 2px;
        justify-content: center;
        align-items: center;
    }

    #tasksbuttons {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    #tasksdesc {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }

    #statusToggle {
        display: inline-block;
        text-align: left;

    }

    #tasktable_filter,
    #tasktable_length {
        text-align: left;
    }
}