* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf2ff !important;
}

.button__mobileonly {
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    background-color: white;
}

.taskimage {
    width: 100%;
    height: 169px;
    border-radius: 3%;
    object-position: center;
}

.showtaskimage {
    width: 100%;
    border-radius: 3%;
    object-position: center;
}

.profile_wrapper {
    width: 100%;
    border: 1ps solid #333;
}

.profile_details {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 40px 20px;
    border: 1px solid #333;
    border-radius: 20px;
}

.name,
.designation,
.department,
.manager {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 18px;
}

.name,
.designation,
.department,
.manager span {
    min-height: 40px;
    font-weight: 500;
}

.name,
.designation,
.department,
.manager p {
    font-size: 18px;
}

#user_name {
    font-size: 18px;
}

#status_group {
    display: none;
}

#updatetask {
    display: none;
}